@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    width: 90%;
    margin: 10px auto;
}

table {
    font-family: "Montserrat";
}

thead, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

thead {
    background-color: rgb(246, 69, 69);
    color: white;
    white-space: nowrap;
}

@media screen and (max-width: 500px){
    thead, td {
        font-size: 12px;
        padding: 5px;
    }
}

span > select, button {
    padding: 5px;
    margin: 2px;
}